html, body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  color: #555;
}

.container {
  padding: 10px;
  padding-bottom: 50px;
}

strong {
  font-weight: 800;
  color: #111;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

blockquote {
  padding-left: 30px;
  margin-left: 0;
  font-style: italic;
  border-left: 8px solid #ccc;
}

nav {
  margin-bottom: 20px;
}

.navlink {
  margin: 5px;
}

.navlink:first-child {
  margin-left: 0;
}

h1, h2, h3 {
  color: #000;
}

h2 {
    font-size: 19px;
}

a {
  color: #000;
  text-decoration: none;
}

nav li {
  display: inline-block;
}

footer {
  width: 100%;
  opacity: 0.9;
  background-color: white;
  position: fixed;
  bottom: 0px;
  padding: 0;
  padding-top: 10px;
  margin: 0;
  height: 30px;
}

.olderposts {
  font-style: italic;
  font-size: 1.2em;
}

/**
 * List of posts
 **/
.post {
  margin: 30px 0;
  max-width: 100%;
}

.static_content,
.post h1,
.post p,
.post ul,
#disqus_thread,
.post blockquote {
  max-width: 500px;
}

.post img {
  max-height: 400px;
  max-width: 95%;
}


.post .readmore {
  font-style: italic;
}

.post section *:first-child {
  margin-top: 0;
}

.post .post_title{
  font-size: 1.9em;
  padding: 5px 0;
  margin: 0;
  color : #000;
}

.post time {
  display: block;
  font-size: 0.9em;
  color: #888;
}

.post code {
  color: #060606;
}

.post strong {
  font-weight: bold;
}

.post ul {
  list-style: circle inside;
}
.post li {
  margin: 3px 0;
}

.post pre {
  display: inline-block;
  background-color: #f4f4f4;
  margin-top: 0.2em;
  padding: 0.6em;
  white-space: pre-wrap;
  word-wrap: break-word;
}
