---
layout: default
title: ymichael
page: home
permalink: /archive/
---

<ul>
    {% for post in site.posts %}
        {% if post.archive %}
            <li>
                <article class='post' itemscope itemtype="http://schema.org/BlogPosting">
                    <header>
                        <time pubdate itemprop="datePublished" datetime="{{ post.date }}" content="{{ post.date }}">
                            {{ post.date | date: "%-d %B %Y" }}
                        </time>
                        <h1 itemprop="name" class="post_title">
                            <a href='{{ post.url }}' itemprop="url">
                                {{ post.title }}
                            </a>
                        </h1>
                    </header>
                </article>
            </li>
        {% endif %}
    {% endfor %}
</ul>
