---
layout: default
title: ymichael
page: home
permalink: /posts/
---

<ul>
    {% for post in site.posts %}
    <li>
        <article class='post' itemscope itemtype="http://schema.org/BlogPosting">
            <header>
                <time pubdate itemprop="datePublished" datetime="{{ post.date }}" content="{{ post.date }}">
                    {{ post.date | date: "%-d %B %Y" }}
                </time>
                <h1 itemprop="name" class="post_title">
                    <a href='{{ post.url }}' itemprop="url">
                        {{ post.title }}
                    </a>
                </h1>
            </header>
            <section>
                {% if post.content contains '<!--more-->' %}
                    {{ post.content | split:'<!--more-->' | first }}
                    <a href='{{ post.url }}' itemprop="url" class='readmore'>Read More...</a>
                {% else %}
                    {{ post.content }}
                {% endif %}
            </section>
        </article>
    </li>
    {% endfor %}
</ul>
