---
layout: default
---

<article class='post' itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <time pubdate itemprop="datePublished" datetime="{{ page.date }}" content="{{ page.date }}">
            {{ page.date | date_to_string }}
        </time>
        <h1 class='post_title' itemprop="name">{{ page.title }}</h1>
    </header>
    <section>{{ content }}</section>
</article>

<br/>
<br/>

<div id='disqus_thread'>
	<a>Comments</a>
	&middot;
	<a href="http://disqus.com" class="dsq-brlink">Powered by <span class="logo-disqus">Disqus</span></a>
</div>

<script type="text/javascript">
var disqus_loaded = false;

function load_disqus() {
    var disqus_shortname = 'ymichael';
    var disqus_identifier = '{{ page.id }}';
    var disqus_title = '{{ page.title }}';
    disqus_loaded = true;

    var s = document.createElement('script');
    s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}

window.onscroll = function(e) {
    if ((window.innerHeight + window.scrollY) >= (document.body.offsetHeight - 500)) {
        if (disqus_loaded == false){
            load_disqus()
        };
    }
};
</script>